<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="simulation" default="false"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="map_file" default="$(find lgv_navigation)/maps/map.yaml"/>
  <arg name="sim_map_file" default="$(find lgv_navigation)/maps/sim_map.yaml"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100"/> -->
  <!-- Map server -->
  <node if="$(arg simulation)" pkg="map_server" name="map_server" type="map_server" args="$(arg sim_map_file)"/>
  <node unless="$(arg simulation)" pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <!-- AMCL -->
  <include file="$(find lgv_navigation)/launch/amcl.launch"/>
  <!-- move_base -->
  <include file="$(find lgv_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</launch>
